<nav class="flex items-center justify-between flex-wrap bg-green-900 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <img src="/assets/images/giga.png" alt="Giga" class="w-12 h-12">
        <span class="font-semibold text-xl tracking-tight ml-2">Babel Records</span>
    </div>
    <div class="block lg:hidden">
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"
    *ngIf="userDataService.hasUser()">
        <div *ngIf="userDataService.isAdmin() == false; else adminNav" class="lg:flex-grow">
            <a class="block mt-4 lg:inline-block lg-mt-0 text-lg text-teal-200 hover:text-white hover:cursor-pointer mr-4"
            routerLink="home"
            >Home</a>
            <a class="block mt-4 lg:inline-block lg:mt-0 text-lg text-teal-200 hover:text-white hover:cursor-pointer mr-4"
            routerLink="records"
            >Records</a>
            <a class="block mt-4 lg:inline-block lg:mt-0 text-lg text-teal-200 hover:text-white hover:cursor-pointer mr-4"
            routerLink="specs"
            >Spec Files</a>
            <a class="block mt-4 lg:inline-block lg:mt-0 text-lg text-teal-200 hover:text-white hover:cursor-pointer mr-4"
            routerLink="parsed"
            >Parsed Files</a>
            <a class="block mt-4 lg:inline-block lg:mt-0 text-lg text-teal-200 hover:text-white hover:cursor-pointer mr-4"
            routerLink="flat"
            >Flat Files</a>
        </div>
        <ng-template #adminNav>
            <a class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white hover:cursor-pointer mr-4"
            routerLink="users">Users</a>
        </ng-template>
    </div>
    <div class="flex flex-row items-center"
    *ngIf="userDataService.hasUser(); else noUser">
        <h4 class="text-white text-xl mr-4"
        >{{userDataService.username}}</h4>
        <a class="flex justify-center items-center text-md px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white hover:cursor-pointer mt-4 lg:mt-0"
        (click)="userDataService.logout()"
        routerLink="login"
        >Log Out</a>
    </div>

    <ng-template #noUser>
        <div class="flex">
            <a class="mx-2 flex justify-center items-center text-md px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white hover:cursor-pointer mt-4 lg:mt-0"
            routerLink="/login"
            >Login</a>
            <a class="mx-2 flex justify-center items-center text-md px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white hover:cursor-pointer mt-4 lg:mt-0"
            routerLink="signup"
            >Sign-up</a>
        </div>
    </ng-template>
</nav>